<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% if object %} Edit Todo {% else %} New Todo {% endif %}</title>
</head>
<body>
<h3>{% if object %} Edit Todo {% else %} New Todo {% endif %}</h3>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <p>{{ form.name.label }}:</p>
        <p>{{ form.name }}</p>
        
        <p>{{ form.description.label }}:</p>
        <p>{{ form.description }}</p>
        
        <p>{{ form.status.label }} {{ form.status }}</p>
        
        <p><input type="submit" class="btn btn-success" value="Submit"></p>
    </form>
</body>
</html>